
	.console3we div , .console3we textarea {
		color:black;
		font-family: courier new;
		/* font-size: 40px; */
		padding:20px; 
		word-wrap:break-word;
		border: 0px solid white;
		background:#F0F0F0;
	}
	
	.console3we textarea {
		width:99%; /* 這個會壓過 textarea 的 cols=n */
		padding:4px; 
		border: 0px solid;
		background:#BBBBBB;
	}
